#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

#Whatever the f this is
.bash_history

#Visual Studio files
.vs
[Bb]in/

#gdb
.gdb_history
kernel.elf
0000-sampleCodeModule.elf
.gdbinit
.gdbinit:Zone.Identifier

#mac sh
docker_build_command.sh

#prettier
.prettierrc

#PVS KERNEL
PVS-Studio.log
report.tasks
strace_out
#PVS .config
PVS-Studio.lic